@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
html {
  font-family: "Audiowide";
  transition: all 0.3s;
}

body {
  margin: 0;
  padding: 10rem;
  background-color: #020617; /* Set the text fill color to transparent for WebKit browsers */
}

/* Apply gradient to text elements */
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
li,
ul {
  background: #fdfc47; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24fe41,
    #fdfc47
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24fe41,
    #fdfc47
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Style for unordered lists */
ul {
  list-style-type: none;
  padding-left: 1.5em; /* Adjust as needed */
}

/* Custom bullet points */
ul li::before {
  content: "\2022"; /* Unicode for a bullet point */
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;

  /* Apply the same gradient to bullet points */
  background: #fdfc47;
  background: -webkit-linear-gradient(to right, #24fe41, #fdfc47);
  background: linear-gradient(to right, #24fe41, #fdfc47);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Adding Styles for Label  */

label {
  color: #fdfc47;
}

form {
  font-family: "Chakra Petch";
  /* text-align: center; */
  margin: 2rem auto;
  font-size: 35px;
}

.addy {
  font-family: "Chakra Petch";
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, +400%);
}

.input-box {
  background-color: #052e16;
  font-size: 22px;
  padding: 1rem;
  border-radius: 50px;
  font-family: inherit;
  border: 1px solid;
  text-align: center;
  /* display: inline-block; */
}

.input-box:focus {
  outline: 5px solid #16a34a;
  color: #16a34a;
  overflow: auto;
  box-shadow: 1px 1px 500px 10px hsla(148, 93%, 45%, 0.546);
}

.btn {
  font-size: 2rem;
  padding: 1rem;
  color: #24fe41;
  border-radius: 50px;
  margin: 1rem;
  background-color: #052e16;
  transition: all 300ms;
  font-family: inherit;
}

.btn:hover {
  background-color: #16a34a;
  cursor: pointer;
}

.btn:active {
  background-color: #65a30d;
  box-shadow: 0 10px 400px hsla(148, 93%, 45%, 0.546);
  transform: translateY(15px);
}
